# Dossier généré par Maven
target/

# Fichiers IntelliJ IDEA
.idea/
*.iml

# Dossiers de compilation
out/
bin/

# Logs
*.log

# Fichiers temporaires
*.tmp
*.swp

# Fichiers système
.DS_Store
Thumbs.db